#question-box{
	background-color: #cfc ;
	padding: 15px;
	border: 20px;
	width: 40%;
	float: left;
	height: 60vh;
	box-sizing: border-box;
	position: relative;
	margin:5vh 5vw;
}
#background-img{
	background-color: red; 
	padding: 15px;
	border: 10px;
	width: 78%;
	float: center;
	height: 80vh;
	box-sizing: border-box;
	position: relative;
	margin:5vh 10vw;
}
.header{
	background-color: black;
	width:100%;
	height: 10vh;
	padding: 0px;
}
.logo1,.logo2,.header{
	display: inline-table;
}
.logo1{
	background-color: yellow;
	width:10%;
	height: 10vh;
	
}
.logo2{
	background-color: yellow;
	width:10%;
	height: 10vh;
	
}


